TwiOS.xcodeproj/project.xcworkspace/xcshareddata/TwiOS.xccheckout
TwiOS.xcodeproj/project.xcworkspace/xcuserdata/dfreniche.xcuserdatad/WorkspaceSettings.xcsettings
TwiOS.xcodeproj/xcuserdata/dfreniche.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
